# Postgres environment variables
POSTGRES_USER=admin
POSTGRES_PASSWORD=1234
POSTGRES_DB=red_tetris
POSTGRES_PORT=5432

# Backend environment variables
BACKEND_PORT=3000
BACKEND_BASE=http://localhost

# Frontend environment variables
FRONTEND_PORT=5173

# Adminer environment variables
ADMINER_PORT=8080